In [15]:
import pandas as pd 

list1 = [
    ['pranjal',25],
    ['John',23],
    ['Mark',32],
    ['maya',24],
    ['mark',34]   
]

dataset = pd.DataFrame(list1,columns = ['Name','Age'])
dataset

      Name  Age
0  pranjal   25
1     John   23
2     Mark   32
3     maya   24
4     mark   34